@model TPLOCAL1.Models.Avis

@{
    ViewData["Title"] = "Form";
}



<head>
    <title>HN - TP LOCAL</title>
    <link rel="stylesheet" href="~/resources/header.css" />
    <link rel="stylesheet" href="~/resources/form.css" />
</head>

<body>

    <partial name="~/Views/Shared/Header.cshtml" />
    
    <section>

        @Html.ValidationSummary(false, "")


        <form asp-action="ValidationFormulaire">
            <div asp-validation-summary="ModelOnly" class="text-danger">test</div>
            <h2>
                Informations personnelles
            </h2>
            <table>
                <tr>
                    <td>
                        <label asp-for="Nom" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Nom" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Prenom" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Prenom" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Sexe" class="control-label"></label>
                    </td>
                    <td>
                        <select asp-for="Sexe" class="form-control">
                            <option hidden disabled selected value = "">Selectionner un sexe</option>
                            <option>Homme</option>
                            <option>Femme</option>
                            <option>Autre</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Adresse" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Adresse" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="CodePostal" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="CodePostal" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Ville" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Ville" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Email" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Email" class="form-control" />
                    </td>
                </tr>
            </table>

            <h2>
                Informations Formation Suivie
            </h2>
            <table>

                <tr>
                    <td>
                        <label asp-for="DateFormation" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="DateFormation" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Formation" class="control-label"></label>
                    </td>
                    <td>
                        <select asp-for="Formation" class="control-label">
                            <option hidden disabled selected value="">Selectionner une formation</option>
                            <option>Cobol</option>
                            <option>C#</option>
                            <option>Dual Skills</option>
                        </select>

                    </td>
                </tr>
            </table>

            <h2>
                Avis sur la formation
            </h2>

            <table>
                <tr>
                    <td>
                        <label asp-for="AvisCobol" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="AvisCobol" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="AvisCsharp" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="AvisCsharp" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="ValidationFormulaire" />
                    </td>
                </tr>
            </table>
        </form>
        
    </section>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>