@{
    ViewData["Title"] = "Index";
}

<head>
    <title>HN - TP LOCAL</title>
    <link rel="stylesheet" href="~/resources/header.css" />
    <link rel="stylesheet" href="~/resources/index.css"/>
</head>

<body>

    <partial name="~/Views/Shared/Header.cshtml"/>

    <section>
        <p>
            <a href="/Home/Index/Form">Remplir le formulaire</a>
        </p>
    </section>
    
</body>